//============
// Page - Home
//============

.fixed_Nav {
  grid-row: 1 / 2;
  grid-column: full-start / full-end;

  background-color: var(--color-blue-1);
  min-height: 94px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  @include respond("1024") {
    position: static;
  }
}
