// banner area
.banner {
  // grid-column: full-start / full-end;
  // grid-row: 2 / 3;
  background-color: var(--color-white);
  overflow: hidden;

  position: relative;
  z-index: 0;

  &__video {
    display: block;
    height: 100%;
    transform: scaleX(-1);
    overflow: hidden;
    position: absolute;
    min-height: 100vh;
    z-index: 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
  }

  &__hero {
    min-height: 100%;
    position: relative;
    width: 100%;
  }

  &__info {
    width: 40%;
    padding: 2rem;
    background: #e6dffd24;
    pointer-events: all;

    position: absolute;
    top: 41%;
    right: 0;
    z-index: 5;
  }

  &__images {
    position: absolute;
    pointer-events: none;
  }

  &__main {
    filter: drop-shadow(2rem 0 3.2rem rgba(0, 0, 0, 0.2));
  }

  &__img {
    width: 100%;
    object-fit: fill;
  }

  &__img1 {
    bottom: 70px;
    right: 21%;
    max-width: 30%;
    width: 30%;
    display: block;
    max-width: 70%;
    background-color: #e6dffde3;
    padding: 4rem 2rem;
    border-radius: 1rem;
    z-index: 4;

    animation-duration: 1500ms !important;
    animation-delay: 500ms;

    @include respond("1800"){
      right: 0;
    }
  }
  &__img2 {
    top: 21%;
    left: 14%;
    max-width: 30%;
    width: 30%;
    z-index: 2;
    border-radius: 2rem;

    animation-duration: 1500ms !important;
    animation-delay: 500ms;
  }
  &__img3 {
    width: 50%;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 3;

    animation-duration: 1500ms !important;
  }
  &__box1 {
    width: 100%;
    display: block;
    background-color: var(--color-purple-3);
    min-height: 353px;
    bottom: 90px;
    left: 240px;
    opacity: 0.5;
  }
  &__box2 {
    background-color: var(--color-purple-1);
    width: 50%;
    min-height: 340px;
    right: 40px;
    top: 38%;
    z-index: 0;
  }

  &__content {
    width: 48%;
  }


  // &::before {
  //   content: "";
  //   pointer-events: none;
  //   position: absolute;
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   background-color: var(--color-white);
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   opacity: 0.85;
  // }
}
