//============
// Bottom Area
//============

.bottom-section {
  @extend .section-padding;
  @extend .section-display-none;

  @include respond("1024") {
    background: var(--color-blue-2);
    padding: 10rem 0;
  }
}

.bottom {
  &__section {
    @include respond("1024") {
      grid-row: 5 / 6;
      grid-column: full-start / full-end;
    }
  }
  &__container {
    @include respond("1024") {
      padding: 0 25px;
    }
  }
  &__content {
    @include respond("1024") {
      color: var(--color-white);
      text-align: center;

      .primary-heading {
        color: var(--color-white);
      }
    }
  }
}
