//============
// Footer
//============

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-gray-4);
  z-index: 9999;

  @include respond("1024") {
    position: static;
    grid-row: 6 / -1;
    grid-column: full-start / full-end;
  }

  &__container {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
    @include respond("800") {
      padding: 2.5rem 0;
      flex-direction: column;
    }
  }
  &__list {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    line-height: 100%;
    @include respond("800") {
      margin-top: 2.4rem;
    }
  }
  &__items {
  }
  &__icon {
    width: 2rem;
    height: 2rem;

    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;

    @include respond("800") {
      margin-top: 0;
      width: 5rem;
      height: 5rem;
    }
  }

  &__icon:hover {
    opacity: 0.5;
  }

  .tertiary-heading {
    font-size: 2.4rem;
    flex-shrink: 0;
    @include respond("1024") {
      margin: 0;
    }
    @include respond("800") {
      margin-bottom: 2.4rem;
    }
  }
  &__link:link {
    color: inherit;
  }
  &__copyright {
    font-size: 1.6rem;
    font-style: italic;

    span {
      font-style: normal;
      display: block;
    }
  }
}

.contact {
  display: flex;
  column-gap: 3rem;
  @include respond("800") {
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
  }
  &__paragraph {
  }
  &__data {
  }
  &__link:link {
    color: inherit;
  }
  &__link:hover {
    text-decoration: underline;
  }
  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 2rem;
    font-weight: 600;
    line-height: 100%;

    @include respond("1400") {
      line-height: 25px;
    }
    @include respond("800") {
      flex-direction: column;
      row-gap: 2.4rem;
    }
  }
  &__items {
    height: 2.5rem;
    line-height: 2.5rem;

    a {
      display: inline-block;
      height: 2.5rem;
    }
  }

  &__icon {
  }
}
