//============
// Buttons
//============

.buttons {
  &:link,
  &:visited {
    display: block;
    width: 270px;
    height: 72px;
    line-height: 72px;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-right: 69px;
    position: relative;
    color: var(--color-white);
    background-color: var(--color-blue-1);
    border: 2px solid var(--color-blue-1);
    margin-top: 30px;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);

    color: var(--color-blue-1);
    background-color: var(--color-white);
  }
  &:active {
    transform: translateY(0);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
  }

  & span {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    right: 34px;
  }
}
