
// extends
.section-padding {
  padding: 0 2.5rem;
}

.section-display-none{

  display: none;
  visibility: hidden;

  @include respond("1024") {
    display: block;
    visibility: visible;
  }
}
// extends

.pseudo::before,
.pseudo::after {
  @include respond("1024") {
    display: none !important;
  }
}

.container-padding {
  padding: 2.5rem 0;
}

.u-none {
  @include respond("1024") {
    display: none !important;
  }
}

.u-figure-center {
  overflow: hidden;
}

.u-img-center {
  margin-left: 50%;
  transform: translateX(-50%);
}

.u-margin-top-xl {
  margin-top: 5rem;
}
.u-margin-top-l {
  margin-top: 4rem;
}
.u-margin-top-m {
  margin-top: 3rem;
}
.u-margin-top-sm {
  margin-top: 2.5rem;
}
.u-margin-top-xs {
  margin-top: 1rem;
}

.u-margin-bottom-xl {
  margin-bottom: 5rem;
}
.u-margin-bottom-l {
  margin-bottom: 4rem;
}
.u-margin-bottom-m {
  margin-bottom: 3rem;
}
.u-margin-bottom-sm {
  margin-bottom: 2.5rem;
}
.u-margin-bottom-xs {
  margin-bottom: 1rem;
}
